p {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #04004d;
  margin-left: 8px;
}

.main {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #000000;
    }
  }
  &__content {
    .card-tag {
      padding: 12px 20px 12px 20px;
      border: 1px solid #d3d7db;
      border-radius: 6px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      p {
        margin: 0;
        color: #004dff;
        border: 1px solid #004dff;
        border-radius: 18px;
        width: 24px;
        text-align: center;
        margin-right: 36px;
      }

      .tag-item {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 24px;
        align-items: center;

        .ant-tag {
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #04004d;
          padding: 0;
          margin: 0;
        }
      }

      .ant-tag-checkable-checked {
        background: #bbcffb;
        // box-shadow: 0px 7px 20px rgb(21 79 212 / 10%);
        border-radius: 6px;
        padding: 6px 12px !important;
      }

      .ant-tag:last-child {
        margin-right: 0;
      }
    }
  }

  .err {
    display: flex;
    align-items: center;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: #ff0366;
    }
  }
}
.ant-drawer-body {
  padding: 16px 20px 36px 20px;

  .ant-checkbox-group {
    margin: 24px 0;

    .ant-checkbox {
      + {
        span {
          padding: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          color: #667386;
          padding-left: 20px;
        }
      }
    }
    .ant-checkbox-group-item {
      margin: 0;
      margin-bottom: 16px;
    }

    .ant-checkbox-group-item:last-child {
      margin-bottom: 0;
    }
  }
}
